
@model BookModel


<div class="container">
    <h3 class="display-4"> Book Details</h3>
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/b4.jpg" class="card-img-top">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2>@Model.Title</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    <span class="col-form-label">By:</span>
                    <span class="col-form-label">@Model.Author</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        @Model.Description
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-outline-primary">Read Now</button>
                </div>
            </div>
            <hr />
            <ul class="list-group">
                <li class="list-group-item"><span class="font-monospace">Category - </span>@Model.Category</li>
                <li class="list-group-item"><span class="font-monospace">Total Pages - </span>@Model.TotalPages</li>
                <li class="list-group-item"><span class="font-monospace">Language - </span>@Model.Language</li>
            </ul>
        </div>

    </div>
    <hr />
    <div class="py-5 bg-light" id="similarBook">
        <h3>Similar Books</h3>
        <div class="row">
            @for (int i = 0; i < 5; i++)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bg-placeholder-img card-img-top" width="100%" height="225"></svg>
                        <div class="card-body">
                            <h3 class="card-title">book.Title</h3>
                            <p class="card-text">book.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                                </div>
                                <small class="text-muted"> book.Author</small>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

